body {
  background-image: url("/static/img/bck_guitar.jpg");
  background-color: black;
  color: white;
}

textarea {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  color: white;
  padding: 8px;
}

#syntax {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 8px;
}

.outline {
  font-family: 'Metal Mania', cursive;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.rockstar-logo {
  width: 165px;
}